h1{
    color: lightcoral
}
.fruits-container li{
    color: tomato;
}
#fruits-title{
    color: black;
}

.important-places{
    color: blueviolet;
}
.yellow-bg{
    background-color: yellowgreen;
}

.text-center{
    text-align: center
}
.large-text {
    font-size:2em;
}